.chart {
   -fx-padding: 10px;
   -fx-background-size:1000 760;
   -fx-background-image: url("backgrounds.jpg");
}

.back {
   -fx-padding: 10px;
   -fx-background-size:1000 760;
   -fx-background-image: url("e.jpg");
}
.coin{
    -fx-background-size:1000 760;
    -fx-background-image: url("21.jpg");
}
.pause{
    -fx-background-size:1000 760;
    -fx-background-image: url("pause.jpg");
}
.pauseBack{
    -fx-background-size:1000 760;
    -fx-background-image: url("pauseBack.jpg");
}
.showGraveYard{
    -fx-background-size:600 400;
    -fx-background-image: url("showGraveyard.jpg");
}